@import "../../../scss/index.scss";

.newsletter {
  position: relative;

  h3 {
    color: $font-light;
    font-weight: bold;
  }

  input {
    height: 35px;
    font-size: 16px;
  }

  button {
    width: 100%;
    height: 35px;
  }
}
